# Auto detect text files and perform LF normalization
* text=auto

# Custom language overrides
*.java linguist-language=Java
*.xml linguist-language=XML
*.json linguist-language=JSON
*.kt linguist-language=Kotlin
